<% include headerAdmin.ejs %>>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Tạo Tour</h4>
                    </div>
                    <form action="/admin/tour/create/save" method="post" enctype="multipart/form-data" style="color: #a3c2d1">
                        <p>Thông tin chi tiết Tour</p>
                        <div>Tên tour <input type="text" name="tourName"></div>
                        <div>Mã tour <input type="text" name="tourFId"></div>
                        <div>Ảnh <input type="file" name="tourImage" multiple="multiple"></div>
                        <div>Ngày khỏi hành<input type="text" name="tourDayGo"></div>
                        <div>Tổng số ngày <input type="number" name="tourTotalDay"></div>
                        <div>Giá <input type="text" name="tourPrice"></div>
                        <div>Số chỗ <input type="number" name="tourNumberOfSeats"></div>
                        <div>Mô tả ngắn về tour <textarea name="tourShortDescription" id="" cols="100%" rows="3"></textarea></div>

                        <div>Loại tour
                            <input name="tourType" type="radio" value="Trong Nước" />Trong nước
                            <input name="tourType" type="radio" value="Nước Ngoài" />Nước ngoài
                        </div>
                        <div>Trong nước
                            <input name="tourCategory" type="radio" value="Đà Nẵng"/>Đà Nẵng
                            <input name="tourCategory" type="radio" value="Khánh Hòa"/>Khánh Hòa
                            <input name="tourCategory" type="radio" value="Phú Quốc"/>Phú Quốc
                            <input name="tourCategory" type="radio" value="Huế"/>Huế
                        </div>
                        <div>Nước ngoài
                            <input name="tourCategory" type="radio" value="Singapore"/>Singapore
                            <input name="tourCategory" type="radio" value="Nhật Bản"/>Nhật Bản
                            <input name="tourCategory" type="radio" value="Hàn Quốc"/>Hàn Quốc
                            <input name="tourCategory" type="radio" value="Trung Quốc"/>Trung Quốc
                        </div>

                        <p>Chương trình tour</p>
                        <div>Chương trình tour <textarea name="tourDescription" id="" cols="100%" rows="30"></textarea></div>

                        <p>Chi tiết tour</p>
                        <p>Thông tin chuyến bay</p>
                        <div>Ngày đi<input type="text" name="tourDateGo"></div>
                        <div>Đến<input type="text" name="tourDateGoCome"></div>
                        <div>Chuyến bay<input type="text" name="tourGoFlight"></div>
                        <div>Ngày về<input type="text" name="tourDateReturn"></div>
                        <div>Đến<input type="text" name="tourDateReturnCome"></div>
                        <div>Chuyến bay<input type="text" name="tourReturnFlight"></div>

                        <p>Thông tin khách sạn</p>
                        <div>Khách sạn<input type="text" name="tourHotel"></div>

                        <p>Thông tin hướng dẫn viên</p>
                        <div>Tên <input type="text" name="tourGuideName"></div>
                        <div>Địa chỉ <textarea name="tourGuideAddress" id="" cols="30" rows="10"></textarea></div>
                        <div>Số điện thoại <input type="text" name="tourGuideTel"></div>

                        <p>Thông tin tập trung</p>
                        <div>Ngày giờ tập trung<input type="text" name="tourFocusDay"></div>
                        <div>Nơi tập trung <input type="text" name="tourConcentratedPlace"></div>

                        <p>Ghi chú</p>
                        <div>Ghi chú <textarea name="tourNote" id="" cols="30" rows="10"></textarea></div>
                        <div>
                            <input type="submit" value="Lưu">
                            <input type="reset" value="Nhập lại">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<% include footerAdmin.ejs %>