<!DOCTYPE html>
<html lang="en">
<head>
    <title>Travel Tour</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/css/jquery.timepicker.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/icomoon.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat&subset=vietnamese');
        * {
            font-family: 'Montserrat', sans-serif;
        }
        .owl-carousel.home-slider .slider-item {
            min-height: 500px;
        }
        .owl-carousel.home-slider .slider-item .slider-text h1{
            font-size: 40px;
        }

    </style>

</head>
<body>
<hr  width="100%" style="color: black; margin-top: 90px;"/>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar" style="margin-top: -25px;">
    <div class="container-fluid">

        <a class="navbar-brand" href="index.html" style=" position: relative">
            <img src="../img/supreme-logo.png" style="width: 150px; height: 100px;" alt=""> <span style="margin-left: -50px; color: #e36921;font-size: 25px">Pleasant</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav" >
            <ul class="navbar-nav ml-auto" >
                <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="" class="nav-link">Tours trong nước</a></li>
                <li class="nav-item"><a href="./index.html/jan-tour.html" class="nav-link">Tours nước ngoài</a></li>
                <li class="nav-item"><a href="services.html" class="nav-link">Services</a></li>
                <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
            </ul>

        </div>
    </div>
</nav>
<h3 class="text-title">Đà Nẵng - Bà Nà Hills (Tour tiêu chuẩn - Khách sạn 5*, tặng kèm buffet cho 2 người)
</h3>


<div class="row col-lg-12">
    <div class="row col-lg-12">
        <img class="img-detail " src="https://scontent.fhan2-1.fna.fbcdn.net/v/t1.15752-9/50787620_237484747180391_5547634356584972288_n.jpg?_nc_cat=106&_nc_oc=AQnnKRaB-o1R9k9_GtDeeQYL8sZMxC8I2cfDiANpjtGjze7_EouaHzb2ntT2kl7feD0&_nc_ht=scontent.fhan2-1.fna&oh=6bfbb9873eb57d007278af4a199a812d&oe=5CB6E742" alt="">
    </div>

</div>

<div class="row">
    <div class="text-detail col-md-5">
        <p>- Tour B&agrave; N&agrave; Hill 1 Ng&agrave;y do Lamanh Travel thiết kế v&agrave; tổ chức chuy&ecirc;n nghiệp với dịch vụ tốt nhất nhằm đem lại cho du kh&aacute;ch những trải nghiệm th&uacute; vị tại B&agrave; N&agrave; Hills. Dịch vụ trọn g&oacute;i bao gồm v&eacute; c&aacute;p treo khứ hồi c&ugrave;ng bữa ăn trưa tại nh&agrave; h&agrave;ng Buffet Việt ti&ecirc;u chuẩn 4 sao tr&ecirc;n độ cao 1489 m, Thỏa sức vui chơi tại Vườn hoa, Cầu V&agrave;ng, Quảng trường Trung t&acirc;m, C&ocirc;ng vi&ecirc;n Fantasy; Xem phim 4D, 5D ...trải nghiệm thời tiết bốn m&ugrave;a.</p>
        <h4 class="highlights">Điểm nổi bật</h4>
        <ul>
            <li>Được đ&aacute;nh gi&aacute; l&agrave; C&ocirc;ng ty du lịch h&agrave;ng đầu tại Đ&agrave; Nẵng chuy&ecirc;n tour B&agrave; N&agrave; Hill 1 Ng&agrave;y</li>
            <li>Phương thức thanh to&aacute;n linh hoạt (hỗ trợ thanh to&aacute;n qua Zalo pay; MoMo, chuyển khoản, tiền mặt...)</li>
            <li>Tham quan tự do hoặc đi theo đo&agrave;n</li>
            <li>Ăn trưa Buffet tại nh&agrave; h&agrave;ng Lavender (205.000)</li>
            <li>C&oacute; nhiều ưu đ&atilde;i d&agrave;nh cho kh&aacute;ch đo&agrave;n</li>
        </ul>
        <div class="margin-bottom-20">
            <p>- Địa danh B&agrave; N&agrave; Hills chắc đ&atilde; kh&ocirc;ng c&ograve;n trở n&ecirc;n xa lạ với hầu hết mọi người. Với những y&ecirc;u y&ecirc;u th&iacute;ch du lịch th&igrave; đ&acirc;y l&agrave; một điểm tới cực kỳ hấp dẫn bởi c&aacute;i vẻ huyền ảo, m&ecirc;nh mang v&agrave; tĩnh lặng của n&oacute;. Đến đ&acirc;y người ta c&oacute; cảm gi&aacute;c như đến với C&otilde;i Ti&ecirc;n tại trần gian. &ldquo;M&acirc;y bay vươn lưng chừng n&uacute;i, tiếng chim h&oacute;t th&aacute;nh th&oacute;t b&ecirc;n lưng đ&egrave;o, th&aacute;c nước tung bọt như suối t&oacute;c trắng giữa rừng xanh&hellip;&rdquo; đ&oacute; l&agrave; những c&acirc;u n&oacute;i được du kh&aacute;ch thốt l&ecirc;n khi đến với B&agrave; N&agrave;.</p>
            <p>&nbsp;<strong>Một số điểm tham quan&nbsp;</strong></p>
            <ul>
                <li>L&agrave;ng Ph&aacute;p</li>
                <li>Vườn hoa Le Jardin d&rsquo;Amour</li>
                <li>Cầu V&agrave;ng</li>
                <li>Hầm Rượu Debay</li>
                <li>Linh Phong Thiền Tự</li>
                <li>Nh&agrave; Bia</li>
                <li>Ch&ugrave;a Linh Ứng</li>
                <li>Đền Lĩnh Ch&uacute;a Linh Từ</li>
                <li>Tr&uacute; Vũ Tr&agrave; Qu&aacute;n</li>
                <li>Linh Phong Bảo Th&aacute;p</li>
                <li>Lầu Chu&ocirc;ng</li>
                <li>Miếu B&agrave;</li>
                <li>C&ocirc;ng Vi&ecirc;n Fantasy</li>
                <li>T&agrave;u Hỏa Leo N&uacute;i</li>
                <li>Xe Trượt Ống</li>
                <li>Bảo T&agrave;ng S&aacute;p</li>
            </ul>
        </div>

    </div>

    <div class="col-md-5" style="margin-left: 50px;">
        <div class="row mt-3">
            <div class="col-md-3">
                Mã tour:
            </div>
            <div class="col-md-9">
                NNSGN304-040-290119VJ-V-O
            </div>

        </div>
        <hr  width="100%" style="color: black; margin-top: 9px;"/>

        <div class="row mt-3">
            <div class="col-md-12">
                <h4 class="text-danger"> 9,500,000 VNĐ</h4>
            </div>
        </div>
        <hr  width="100%" style="color: black; margin-top: 9px;"/>



        <div class="row mt-3">
            <div class="col-md-3">
                Khởi hành:
            </div>
            <div class="col-md-4">
                01/01/2019 06:00
            </div>
            <hr  width="96%" style="color: black; margin-top: 9px;"/>
        </div>


        <div class="row mt-1">
            <div class="col-md-4">
                Nơi khởi hành:
            </div>
            <div class="col-md-3">
                Hồ Chí Minh
            </div>
            <div class="col-md-5 ">
                Thời gian: 9 ngày
            </div>

            <hr  width="96%" style="color: black; margin-top: 7px;"/>

        </div>

        <button type="submit" class="btn btn-danger" style="margin-left: 100px;width: 50%; margin-bottom: 20px">Đặt ngay</button>

        <div class="search-tours mt-3" >
            <div class="panel-heading" >
                <h4 class="panel-title">Tour được đề xuất</h4>
                <hr  width="96%" style="color: black; margin-top: 7px;"/>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <img class="img-tour" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJaKoohkNFNkDcN0SqBzRMuJRYWpox638efdEk5-UcMBbgXSjc" alt="">
                </div>
                <div class="col-md-5">
                    <h5>Sapa 2 ngày 1 đêm </h5>
                    Giá: 2,199,000 VNĐ
                    <button type="submit" class="btn-danger">Đặt ngay</button>
                </div>
                <hr  width="90%" style="color: black; margin-top: 7px;"/>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <img class="img-tour" style="height: 130px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZkMUuyG3Sh84n1euWvWnm-ZVtrc81r5E1zWKn59xxZVzVYB6N" alt="">
                </div>
                <div class="col-md-8">
                    <h5>Phú Quốc (khám phá đảo ngọc)</h5>
                    Giá: 4,550,000 VNĐ
                    <p><button type="submit" class="btn-danger">Đặt ngay</button></p>
                </div>
                <hr  width="90%" style="color: black; margin-top: 7px;"/>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <img class="img-tour" style="height: 130px" src="https://znews-photo.zadn.vn/w660/Uploaded/jac_iik/2014_08_08/6_1.jpg" alt="">
                </div>
                <div class="col-md-8">
                    <h5>Hội An (Tour tiết kiệm - giá rẻ bất ngờ )</h5>
                    Giá: 3,550,000 VNĐ
                    <p>  <button type="submit" class="btn-danger">Đặt ngay</button></p>
                </div>
                <hr  width="90%" style="color: black; margin-top: 7px;"/>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <img class="img-tour" style="height: 130px" src="https://znews-photo.zadn.vn/w660/Uploaded/jac_iik/2014_08_08/16.jpg" alt="">
                </div>
                <div class="col-md-8">
                    <h5>Địa đạo Củ Chi (Trải nghiệm về thời chiến tranh)</h5>
                    Giá: 8,400,000 VNĐ
                    <p>  <button type="submit" class="btn-danger">Đặt ngay</button></p>
                </div>
                <hr  width="90%" style="color: black; margin-top: 7px;"/>
            </div>

            <div class="row" style="margin-bottom: 10px">
                <div class="col-md-4">
                    <img class="img-tour" style="height: 130px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpJF23gTbGAL0lixb4t8iBp08GwcrjM5dJUb_CgrwZ5JhgKJx7" alt="">
                </div>
                <div class="col-md-8">
                    <h5>Vũng Tàu (3 ngày 2 đêm)</h5>
                    Giá: 10,900,000 VNĐ
                    <p>  <button type="submit" class="btn-danger">Đặt ngay</button></p>
                </div>
            </div>

        </div>



    </div>

</div>
</div>

<div class="col-md-12" style="text-align: center">
    <div class="activity-details-content">
        <div>
            <div><strong>Mọi chi tiết xin vui l&ograve;ng li&ecirc;n hệ:</strong>&nbsp;(028). 3822.88.98 hoặc 1900 1839</div>
            <div>Khối Kh&aacute;ch Lẻ</div>
            <div>Số m&aacute;y nh&aacute;nh: 1149-1150-1151-1153-1508</div>
        </div>
        <div><strong>K&Iacute;NH CH&Uacute;C QU&Yacute; KH&Aacute;CH MỘT CHUYẾN DU LỊCH VUI VẺ &amp; BỔ &Iacute;CH!!</strong></div>
    </div>
</div>





<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/jquery.animateNumber.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/jquery.timepicker.min.js"></script>
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>-->
<!--<script src="js/google-map.js"></script>-->
<script src="../js/main.js"></script>
</body>
</html>