<!DOCTYPE html>
<html lang="en">
<head>
    <title>Travel Tour</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700" rel="stylesheet">
    <!--<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">-->

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">    -->
    <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/css/jquery.timepicker.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/icomoon.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat&subset=vietnamese');

        * {
            font-family: sans-serif;
        }

        #ftco-nav ul li a {
            color: white;
        }

        .nav6{
            border-bottom: 2px solid #69abdc;
        }
        .thongtin{
            padding-top: 100px;
            padding-bottom: 50px;
        }

        .box {
            outline: #bbbbbb solid 20px;
            margin-top: 30px;
            padding: 20px;
            text-align: center;
        }

        .fist {
            background: #bbbbbb;
            padding: 20px;
            margin-top: 20px;
            color: white;
        }

        .icons {
            margin-top: 10px;
            color: black;
            display: block;
        }


        .h4-text {
            color: #ff662c;
            text-align: center;

        }

        .name-nhatrang {
            font-weight: bold;
            color: black;
        }

        .tour:hover {
            box-shadow: 0 0 11px rgba(33, 33, 33, 0.97);
        }
    </style>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container col-lg-12">
        <a class="navbar-brand" href="index.html"
           style=" color: white;font-size: 25px;font-family:-apple-system">Pleasant Tour
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active "><a href="/" class="nav-link nav1" style="color: white">Trang chủ </a>
                </li>
                <li class="nav-item"><a href="" class="nav-link nav2">Tours</a></li>
                <li class="nav-item nav3 "><a href="/dichvu" class="nav-link ">Dịch vụ </a></li>
                <li class="nav-item"><a href="blog.html" class="nav-link nav4">Blog</a></li>
                <li class="nav-item"><a href="about.html" class="nav-link nav5">About</a></li>
                <li class="nav-item"><a href="/lienhe" class="nav-link nav6">Liên hệ</a></li>
            </ul>
        </div>
    </div>
</nav>
<section class="home-slider owl-carousel col-lg-12">
    <div  class="slider-item"
          style="background-image: url(https://danatravel.vn/data/tour/500/hue-1473129492.jpg); background-size: cover;height: 400px">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center">
                <div class="col-md-7 col-sm-12 ftco-animate">
                    <h5 style="color: white"><a style="font-weight: bold; color: white;margin-right: 7px" href="/">TRANG CHỦ </a> Tour Huế </h5>
                    <h1 class="mb-3">Cung Đình Huế </h1>
                </div>
            </div>
        </div>
    </div>

</section>
<div class="tour-p m-3">
    <div class="row p-2">
        <div class="col-lg-2">
            <img class="img-p" src="https://travel.com.vn/Content/themeSummer/img/tourtype/premium.png"
                 alt="tour">
            <p>Cao cấp</p>
        </div>
        <div class="col-lg-2">
            <img class="img-p" src="https://travel.com.vn/Content/themeSummer/img/tourtype/deluxe.png"
                 alt="tour">
            <p>Tiêu chuẩn</p>
        </div>
        <div class="col-lg-2">
            <img class="img-p" src="https://travel.com.vn/Content/themeSummer/img/tourtype/tietkiem.png"
                 alt="tour">
            <p>Tiết kiệm</p>
        </div>
        <div class="col-lg-2">
            <img class="img-p" src="https://travel.com.vn/Content/themeSummer/img/tourtype/giasoc.png"
                 alt="tour">
            <p>Giá tốt</p>
        </div>
        <div class="col-lg-2">
            <img class="img-p" src="https://travel.com.vn/Content/themeSummer/img/tourtype/moi.png"
                 alt="tour">
            <p>Tour mới</p>
        </div>
        <div class="col-lg-2">
            <img class="img-p" src="https://travel.com.vn/Content/themeSummer/img/tourtype/nuthan.png"
                 alt="tour">
            <p>Tour Hoa Kỳ</p>
        </div>
    </div>
</div>
<p class="fist">Du lịch >> Danh sách tour du lịch Huế - Cung Đình Huế</p>




<div class="container-fluid pl-5 pr-5" style="min-height: 100vh">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="list-tour mt-4 bg-white p-3">
                <div class="tour-first m-3">
                    <div class="row p-2">
                        <div class="col-lg-4" style="background: rgba(187,187,187,0.52); border-radius: 3px; padding: 20px">
                            <h4>Bộ lọc tìm kiếm</h4>
                            <p style="font-weight: bold"> NƠI KHỞI HÀNH</p>
                            <select class="form-control input-md" id="depart" style="margin-top: -15px">
                                <option value="0" selected="">Nơi khởi hành</option>
                                <option value="1"> Hồ Chí Minh</option>
                                <option value="3">Hà Nội</option>
                                <option value="4">Đà Nẵng</option>
                                <option value="5">Cần Thơ</option>
                                <option value="6">Hải Phòng</option>
                                <option value="7">Bình Dương</option>
                                <option value="8">Nha Trang</option>
                                <option value="10">Huế</option>
                                <option value="11">Quy Nhơn</option>
                                <option value="12">Đồng Nai</option>
                                <option value="13">Phú Quốc</option>
                                <option value="14">Long Xuyên</option>
                                <option value="15">Quảng Ngãi</option>
                                <option value="16">Vũng Tàu</option>
                                <option value="17">Quảng Ninh</option>
                                <option value="18">Buôn Ma Thuột</option>
                                <option value="19">Vinh</option>
                                <option value="20">Cà Mau</option>
                                <option value="22">Rạch Giá</option>
                                <option value="24">Đà Lạt</option>
                                <option value="29">Thanh Hóa</option>
                                <option value="30">Quảng Bình</option>
                                <option value="31">Hồ Chí Minh - VSCC</option>
                                <option value="32">Bạc Liêu</option>
                                <option value="33">Bảo Lộc</option>
                                <option value="34">Đồng Tháp</option>
                            </select>

                            <div class="thoigiankhoihanh" style="margin: 15px 0 10px 0; border-bottom: 1px solid #ccc; padding-bottom: 30px" >
                                <p style="font-weight: bold; text-transform: uppercase; margin-bottom: 10px;">Ngày khởi hành</p>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 mg-bot10">
                                        <input class="form-control" id="depar" type="text" placeholder="&nbsp &nbsp Ngày khởi hành" style="margin-top: -11px;border-radius: 3px; color: black">
                                        <div style="position: absolute; top: 8px; left: 25px;">
                                            <span class="i-calendar"><i class="fa fa-calendar" style="font-size: 18px"></i></span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="col-lg-8">
                            <div class="name-tour">
                                <h4 class="h4-text">Danh sách tour du lịch Huế - Cung Đình Huế</h4>
                                <p style="font-weight: bold; margin-left: 20px;"><p><p>Huế thương sơn thủy hữu t&igrave;nh, nơi tọa lạc Đại Nội, Ngọ M&ocirc;n, Điện Th&aacute;i H&ograve;a, Tử Cấm Th&agrave;nh, Lăng Tự Đức, Thế Miếu, Hiển L&acirc;m C&aacute;c, Cửu Đỉnh xưa của 13 vị vua triều Nguyễn. Ch&ugrave;a Thi&ecirc;n Mụ lưu giữ cổ vật lịch sử, nghệ thuật qu&yacute; gi&aacute;. Chiều bu&ocirc;ng, ta ngồi thuyền rồng xu&ocirc;i d&ograve;ng s&ocirc;ng Hương thưởng thức ca h&ograve; Huế, thả hoa đăng cầu ph&uacute;c lộc.<br />Tại Huế Bạn c&oacute; thể thăm quan c&aacute;c điểm đến sau Hầm Đ&egrave;o Hải V&acirc;n, Biển Lăng C&ocirc;, Biển Thuận An, S&ocirc;ng Hương, Ch&ugrave;a Thi&ecirc;n Mụ, Huế, Hồ Truồi, Vườn quốc gia Bạch M&atilde;, Suối kho&aacute;ng n&oacute;ng Thanh T&acirc;n,<br />Để hiểu hơn về Huế Mời bạn tham khảo Kinh nghiệm du lịch Huế<br /><br /></p><br /><br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<hr  width="100%" style="color: black;margin-top: -150px"/>

<div class="container pl-5 pr-5" style="min-height: 100vh; outline: rgba(187,187,187,0.41) solid 50px; margin-top: 80px;">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="list-tour mt-4 bg-white p-3">
                <div class="tour m-3">
                    <div class="row p-2" >
                        <div class="col-lg-3">
                            <img class="img-tour" src="https://travel.com.vn/Images/destination/tf_181012043923_343183.jpg"
                                 alt="tour" style="height: 150px;">
                        </div>

                        <div class="col-lg-9">
                            <div class="name-nhatrang">
                                Huế - La Vang - Động Phong Nha & Thiên Đường - Bà Nà - Hội An - Đà Nẵng (Khách sạn 4* & 5* trọn tour. Tour Tiêu Chuẩn)</div>
                            <div class="row mt-3">
                                <div class="col-lg-5">
                                    <i class="fa fa-barcode" aria-hidden="true"></i> NNSGN304-040-290119VJ-V-O
                                </div>
                                <div class="col-lg-5">
                                    <i class="fa fa-calendar-o" aria-hidden="true"></i> Khởi hành: 29/01/2019 09:00
                                </div>
                                <div class="col-lg-2 text-danger">
                                    7,590,000đ
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-lg-5">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i> Số ngày: 7
                                </div>
                                <div class="col-lg-5">
                                    <i class="fa fa-user" aria-hidden="true"></i> Số chỗ còn nhận: 8
                                </div>
                                <div class="col-lg-2">
                                    <a href="contentDetailTourHue.ejs">
                                        <button type="button" class="btn btn-danger btn-sm">
                                            Chi tiết
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="tour m-3">
                    <div class="row p-2">
                        <div class="col-lg-3">
                            <img class="img-tour" src="https://travel.com.vn/Images/destination/tf_171127103247_745784.jpg"
                                 alt="tour" style="height: 150px;">
                        </div>

                        <div class="col-lg-9">
                            <div class="name-nhatrang">
                                Đà Nẵng - Bà Nà - Hội An - La Vang - Động Phong Nha - Huế (Khách sạn 4* 2 đêm. Tour Tiêu Chuẩn)
                            </div>
                            <div class="row mt-3">
                                <div class="col-lg-5">
                                    <i class="fa fa-barcode" aria-hidden="true"></i> NNSGN304-040-290119VJ-V-O
                                </div>
                                <div class="col-lg-5">
                                    <i class="fa fa-calendar-o" aria-hidden="true"></i> Khởi hành: 21/03/2019 06:00
                                </div>
                                <div class="col-lg-2 text-danger">
                                    6,170,000đ
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-lg-5">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i> Số ngày: 23
                                </div>
                                <div class="col-lg-5">
                                    <i class="fa fa-user" aria-hidden="true"></i> Số chỗ còn nhận: 2
                                </div>
                                <div class="col-lg-2">
                                    <a href="contentDetailTourHue.ejs">
                                        <button type="button" class="btn btn-danger btn-sm">
                                            Chi tiết
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tour m-3">
                    <div class="row p-2">
                        <div class="col-lg-3">
                            <img class="img-tour" src="https://travel.com.vn/Images/destination/tf_181022112456_480374.jpg"
                                 alt="tour" style="height: 150px;">
                        </div>

                        <div class="col-lg-9">
                            <div class="name-nhatrang">
                                Đà Nẵng - Bà Nà - Hội An - La Vang - Động Thiên Đường - Huế (Khách sạn 4* 2 đêm. Tour tiêu chuẩn)
                            </div>
                            <div class="row mt-3">
                                <div class="col-lg-5">
                                    <i class="fa fa-barcode" aria-hidden="true"></i> NNSGN304-040-290119VJ-V-O
                                </div>
                                <div class="col-lg-5">
                                    <i class="fa fa-calendar-o" aria-hidden="true"></i> Khởi hành: 21/03/2019 06:00
                                </div>
                                <div class="col-lg-2 text-danger">
                                    6,370,000đ
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-lg-5">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i> Số ngày: 23
                                </div>
                                <div class="col-lg-5">
                                    <i class="fa fa-user" aria-hidden="true"></i> Số chỗ còn nhận: 2
                                </div>
                                <div class="col-lg-2">
                                    <a href="contentDetailTourHue.ejs">
                                        <button type="button" class="btn btn-danger btn-sm">
                                            Chi tiết
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tour m-3">
                    <div class="row p-2">
                        <div class="col-lg-3">
                            <img class="img-tour" src="https://travel.com.vn/Images/destination/tf_181016032402_957497.jpg"
                                 alt="tour" style="height: 150px;">
                        </div>

                        <div class="col-lg-9">
                            <div class="name-nhatrang">
                                Quảng Bình - Động Phong Nha - La Vang - Huế - Bà Nà - Hội An - Đà Nẵng ( Bay thẳng. Khách sạn 4*&5* trọn tour. Tour tiêu chuẩn) - 23 Ngày Vàng-Tháng Vàng Ưu Đãi

                            </div>
                            <div class="row mt-3">
                                <div class="col-lg-5">
                                    <i class="fa fa-barcode" aria-hidden="true"></i> NNSGN304-040-290119VJ-V-O
                                </div>
                                <div class="col-lg-5">
                                    <i class="fa fa-calendar-o" aria-hidden="true"></i> Khởi hành: 21/03/2019 06:00
                                </div>
                                <div class="col-lg-2 text-danger">
                                    7,370,000đ
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-lg-5">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i> Số ngày: 23
                                </div>
                                <div class="col-lg-5">
                                    <i class="fa fa-user" aria-hidden="true"></i> Số chỗ còn nhận: 2
                                </div>
                                <div class="col-lg-2">
                                    <a href="contentDetailTourHue.ejs">
                                        <button type="button" class="btn btn-danger btn-sm">
                                            Chi tiết
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tour m-3">
                    <div class="row p-2">
                        <div class="col-lg-3">
                            <img class="img-tour" src="https://travel.com.vn/Images/destination/tf_180129045925_417669.jpg"
                                 alt="tour" style="height: 150px;">
                        </div>

                        <div class="col-lg-9">
                            <div class="name-nhatrang">
                                Liên Tuyến Bắc Trung: Hà Nội - Sapa - Hạ Long - Ninh Bình - Huế - Động Thiên Đường & Phong Nha - Đà Nẵng - Bà Nà - Hội An (Tour Tiết Kiệm)
                            </div>
                            <div class="row mt-3">
                                <div class="col-lg-5">
                                    <i class="fa fa-barcode" aria-hidden="true"></i> NNSGN304-040-290119VJ-V-O
                                </div>
                                <div class="col-lg-5">
                                    <i class="fa fa-calendar-o" aria-hidden="true"></i> Khởi hành: 21/03/2019 06:00
                                </div>
                                <div class="col-lg-2 text-danger">
                                    21,570,000đ
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-lg-5">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i> Số ngày: 23
                                </div>
                                <div class="col-lg-5">
                                    <i class="fa fa-user" aria-hidden="true"></i> Số chỗ còn nhận: 2
                                </div>
                                <div class="col-lg-2">
                                    <a href="contentDetailTourHue.ejs">
                                        <button type="button" class="btn btn-danger btn-sm">
                                            Chi tiết
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>





















<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<!--<script src="../js/jquery.validate.min.js"></script>-->
<!--<script src="../js/additional-methods.min.js"></script>-->


<script src="/js/jquery.animateNumber.min.js"></script>

<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>

<script src="/js/aos.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>-->
<!--<script src="js/google-map.js"></script>-->
<script src="/js/main.js"></script>
<!--<script src="../js/validate.js"></script>-->
<!--<script src="jquery-3.3.1.min.js"></script>-->
<!--<script src="bootstrap.min.js"></script>-->


</body>

</html>