<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pleasant Tour</title>
    <link rel="icon" href="http://darnlinks.info/wp-content/uploads/2018/12/free-logo-designers-free-logos-creator-make-online-elegant-logo-maker-templates.png">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">    -->
    <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/css/jquery.timepicker.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/icomoon.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://fonts.googleapis.com/css?family=Faster+One|Sniglet" rel="stylesheet">

    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat&subset=vietnamese');

        * {
            font-family: sans-serif;
        }

        #ftco-nav ul li a {
            color: white;
        }
        .logoname{
            font-family: 'Faster One', cursive;
        }
        .nav6{
            border-bottom: 2px solid #69abdc;
        }
        .thongtin{
            padding-top: 100px;
            padding-bottom: 50px;
        }

        .box {
            outline: #bbbbbb solid 20px;
            margin-top: 30px;
            padding: 20px;
            text-align: center;
        }

        .fist {
            background: #bbbbbb;
            padding: 20px;
            margin-top: 20px;
            color: white;
        }

        .icons {
            margin-top: 10px;
            color: black;
            display: block;
        }

        /*.icons .icon1 {*/
        /*margin-top: 20px;*/
        /*}*/

        /*.icons .icon2 {*/
        /*margin-top: -83px;*/
        /*margin-left: 200px;*/
        /*}*/

        /*.icons .icon3 {*/
        /*margin-top: -83px;*/
        /*margin-left: 400px;*/
        /*}*/

        /*.icons .icon4 {*/
        /*margin-top: -83px;*/
        /*margin-left: 540px;*/
        /*text-align: center;*/
        /*}*/

        /*.icons .icon5 {*/
        /*margin-top: -83px;*/
        /*margin-left: 750px;*/
        /*text-align: center;*/
        /*}*/

        /*.icons .icon6 {*/
        /*margin-top: -83px;*/
        /*margin-left: 960px;*/
        /*text-align: center;*/
        /*}*/

        /*.icons icon7 {*/
        /*margin-top: -83px;*/
        /*margin-left: 970px;*/
        /*text-align: center;*/
        /*}*/


        .h4-text {
            color: #ff662c;
            text-align: center;

        }

        .name-nhatrang {
            font-weight: bold;
            color: black;
        }

        .tour:hover {
            box-shadow: 0 0 11px rgba(33, 33, 33, 0.97);
        }

        .nav {
            background-color: #084068;
            list-style-type: none;
            text-align: center;
            margin: 0;
            padding: 0;
        }

        .nav li {
            display: inline-block;
            font-size: 20px;
            padding: 20px;
        }
    </style>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light  "  id="ftco-navbar" style="position: relative;margin-bottom: 50px">
    <div class="container">
        <a class="navbar-brand" href="/"
           style=" color: #ff5f5f;font-size: 25px;"> <img width="70px" height="70px"
                                                          src="http://darnlinks.info/wp-content/uploads/2018/12/free-logo-designers-free-logos-creator-make-online-elegant-logo-maker-templates.png"
                                                          alt=""> <span class="logoname"> Pleasant Tour</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active nav1 "><a href="/" class="nav-link" style="color: black">Trang chủ </a>
                </li>
                <li class="nav-item"><a style="color: black" href="" class="nav-link">Tours</a></li>
                <li class="nav-item"><a style="color: black" href="/service" class="nav-link">Dịch vụ</a></li>
                <li class="nav-item"><a style="color: black" href="/rate" class="nav-link">Đánh giá</a></li>
                <li class="nav-item"><a style="color: black" href="/contact" class="nav-link">Liên hệ </a></li>
            </ul>
        </div>
    </div>
</nav>
<p class="fist">Du lịch >> Đặt tour</p>

<div class="pay">
    <div class="row">
        <div class="col-lg-4" style="text-align: center;">
            <p style="font-size: 16px; position: relative; left: 5px; padding-top: 5px">1. NHẬP THÔNG TIN</p>
            <p style="font-size: 35px; color: #fc6600; margin-top: 12px"><i style="background: #fff; border-radius: 25px;" class="fa fa-check-circle"></i></p>
        </div>
        <div class="col-lg-4" style="text-align: center;">
            <p style="font-size: 16px; position: relative; left: 5px; padding-top: 5px">2. PLEASANT XÁC NHẬN</p>
            <p style="font-size: 35px; color: #333333; margin-top: 12px"><i style="background: #fff; border-radius: 25px;" class="fa fa-circle-thin"></i></p>
        </div>
        <div class="col-lg-4" style="text-align: center;">
            <p style="font-size: 16px; position: relative; left: 5px; padding-top: 5px">3. THANH TOÁN</p>
            <p style="font-size: 35px; color: #d1d2e4; margin-top: 12px"><i style="background: #fff; border-radius: 25px;" class="fa fa-circle-thin"></i></p>
        </div>
    </div>
</div>



<div class="container-fluid pl-5 pr-5" style="min-height: 100vh">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="list-tour mt-4 bg-white p-3">
                <div class="tour-first m-3">

                    <div class="row p-2">
                        <div class="col-lg-4" style=" padding: 20px">
                            <img style="height: 300px;width: 100%;" src="<%= list.tourImage %>" alt="">
                            <table class="table table-bordered mt-3">
                                <thead>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Số ngày: <%= list.tourTotalDay %></td>
                                    <td style="background: red; color: white;"><%= list.price %> đ</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-lg-8 mt-3">
                            <div class="name-tour">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th scope="col">Osaka - Kyoto - Nagoya - Núi Phú Sỹ - Tokyo - Thưởng thức bò
                                            Kobe - Chiêm ngưỡng 5,000 cây hoa anh đào
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Mã tour: &nbsp NNDNG5037-001-300319VN</td>
                                    </tr>
                                    <tr>
                                        <td>Ngày khởi hành: &nbsp &nbsp 30/03/2019 &nbsp &nbsp <i class="fa fa-calendar"></i>&nbsp Ngày khác</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Nơi khởi hành: Hà Nội </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Số chỗ còn nhận: 5 </td>
                                    </tr>
                                    <tr>
                                        <td style="color: red" colspan="2">Không áp dụng đăng kí online cho khách hàng từ 70 tuổi trở lên.Khách nữ 55 tuổi trở lên, khách nam 60 tổi trở nên vui lòng đăng kí trực tiếp tại Pleasant.</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<hr  width="100%" style="color: black;margin-top: -120px"/>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <h4 style="text-align: center; color: #ff4d26">GIÁ TOUR CƠ BẢN</h4>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Người lớn (Từ 12 tuổi trở lên)</th>
                    <th scope="col">Trẻ em (Từ 2 tuổi đến dưới 12 tuổi)</th>
                    <th scope="col">Trẻ nhỏ (Dưới 2 tuổi)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Giá tour cơ bản</th>
                    <td>37,590,000 đ</td>
                    <td>28,192,000 đ</td>
                    <td>11,277,000 đ</td>
                </tr>
                <tr>
                    <th scope="row">Phụ phí xăng dầu & Bảo hiểm hàng không</th>
                    <td>0 đ</td>
                    <td>0 đ</td>
                    <td>0 đ</td>
                </tr>
                <tr>
                    <th scope="row">Lệ phí sân bay</th>
                    <td>0 đ</td>
                    <td>0 đ</td>
                    <td>0 đ</td>
                </tr>
                <tr>
                    <th scope="row">Phụ phí thu visa(nếu có)</th>
                    <td>0 đ</td>
                    <td>0 đ</td>
                    <td>0 đ</td>
                </tr>
                </tbody>
            </table>
            <h5 style="color: #ff4324">Ghi chú:</h5>
            <p>- Phụ phí thu visa tái nhập Việt Nam: 0 đ</p>
            <p>- Phụ phí thu phòng đơn: 0 đ</p>
            <form id="form3">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" name="email" id="inputEmail4" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Họ tên</label>
                        <input type="text" class="form-control" name="name" id="inputPassword4" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPhone">Di động</label>
                        <input type="email" class="form-control" name="phone" id="inputPhone" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputTelePhone">Điện thoại</label>
                        <input type="text" class="form-control" name="phonenumber" id="inputTelePhone" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputAddress">Địa chỉ</label>
                        <input type="text" class="form-control" name="address" id="inputAddress" placeholder="">
                    </div>
                    <div class="form-group col-md-1">
                        <label for="inputUser1">Người lớn</label>
                        <input type="number" class="form-control" name="person" value="1" id="inputUser1"
                               placeholder="">
                    </div>
                    <div class="form-group col-md-1">
                        <label for="inputUser2">Trẻ em</label>
                        <input type="number" class="form-control" name="children" value="0" id="inputUser2"
                               placeholder="">
                    </div>
                    <div class="form-group col-md-1">
                        <label for="inputUser3">Trẻ nhỏ</label>
                        <input type="number" class="form-control" name="trenho" value="0" id="inputUser3"
                               placeholder="">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputUser4">Số khách</label>
                        <input type="number" value="1" class="form-control" name="usernumber" id="inputUser4"
                               placeholder="">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputNote">Ghi chú</label>
                    <input type="text" class="form-control" id="inputNote" placeholder="">
                </div>
                <!--<button type="submit" class="btn btn-primary">Sign in</button>-->

            <h4 style="color: red">Ghi chú</h4>
            <p>Người lớn sinh từ : 05/04/1949 đến 05/04/2007 - Trẻ em sinh từ : 06/04/2007 đến 05/04/2017 - Trẻ nhỏ sinh từ : 06/04/2017 đến 26/02/2019</p>

            <h4 style="color: red;text-align: center; margin-top: 50px;">Xin Quý Khách Vui Lòng Chọn Hình Thức Thanh Toán</h4>
            <div style="border:1px solid #ccc;padding: 20px 30px 20px 30px">
                <div class="radio">
                    <label><input type="radio" class="chkPayment" name="paymentID" value="1" checked="checked"><label class="lb_r">&nbspTiền mặt</label></label>
                </div>
                <div class="radio">
                    <label><input type="radio" class="chkPayment" name="paymentID" value="2"><label class="lb_r">&nbspChuyển khoản</label></label>
                </div>
                <div class="radio">
                    <label><input type="radio" class="chkPayment" name="paymentID" value="9"><label class="lb_r">&nbspATM / Internet Banking</label></label>
                </div>
                <div class="radio">
                    <label><input type="radio" class="chkPayment" name="paymentID" value="15"><label class="lb_r">&nbspThẻ tín dụng </label> </label>
                </div>
                <div class="radio">
                    <label><input type="radio" class="chkPayment" name="paymentID" value="16"><label class="lb_r">Thanh toán bằng quét QRCode</label></label>
                </div>
                <div class="row " style="padding-bottom:10px;display:none;" id="divVNPay">
                    <div style="margin-top: 5px; margin-left: 35px; font-weight: bold; color: #d57575;">
                        Thẻ tín dụng (VISA/MASTER/JCB) / Thẻ ATM - Dịch vụ của VNPay
                    </div>
                </div>

                <div style="border:1px solid #ccc;padding: 20px 30px 20px 30px;text-align: justify;word-wrap: break-word;height: 150px;overflow-y: scroll;line-height: 22px">
                    <div id="conditionPayment">

                        <title></title>


                        <p>
                            Quý khách vui lòng thanh toán tại bất kỳ đại lý nào của Pleasant trong và ngoài nước. <a href="https://travel.com.vn/lien-he.aspx" target="_blank">Chi tiết</a></p>


                    </div>

                </div>
            </div>
<div style="text-align: center" class="mt-5 mb-1" >
    <input type="submit" style="background: red ;color: white ;width: 120px;height: 50px;border-radius: 1px"
           value="Đặt Tour">
</div>
            </form>
        </div>
    </div>

</div>

<% include footerClient.ejs%>
















<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<!--<script src="../js/jquery.validate.min.js"></script>-->
<!--<script src="../js/additional-methods.min.js"></script>-->
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/additional-methods.min.js"></script>

<script src="/js/jquery.animateNumber.min.js"></script>

<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>

<script src="/js/aos.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>-->
<!--<script src="js/google-map.js"></script>-->
<script src="/js/main.js"></script>
<script src="/js/validate.js"></script>
<!--<script src="../js/validate.js"></script>-->
<!--<script src="jquery-3.3.1.min.js"></script>-->
<!--<script src="bootstrap.min.js"></script>-->

<script>
    function post(path, params, method) {
        method = method || "post";
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);
        for(var key in params) {
            if(params.hasOwnProperty(key)) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);
                form.appendChild(hiddenField);
            }
        }
        document.body.appendChild(form);
        form.submit();
    }
</script>
</body>

</html>