<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pleasant Tour</title>
    <link rel="icon" href="http://darnlinks.info/wp-content/uploads/2018/12/free-logo-designers-free-logos-creator-make-online-elegant-logo-maker-templates.png">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/hh.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">    -->
    <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/css/jquery.timepicker.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/icomoon.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home2.css">
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'>

    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat&subset=vietnamese');
        * {
            font-family: sans-serif;
        }
        #ftco-nav ul li a {
            color: white;
        }

        .swiper-container {
            width: 100%;
            height: 100%;
            margin-top: 90px;
        }

        .swiper-slide {
            height: 420px;
            text-align: center;
            font-size: 18px;
            background: #fff;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .swiper-slide-con {
            height: 350px;
            width: 90%;
            border: 1px solid #afafaf;

        }

        .swiper-slide-con .avatar {
            margin-top: -30px;
            width: 120px;
            height: 120px;
            border-radius: 120px;

        }

        .swiper-slide-text {
            text-align: center;
        }

        .nav1 {
            border-bottom: 2px solid #69abdc;
        }
    </style>
</head>
<body>
