.img-introduce {

}


.title-1 {
    color: #c2511a;
    border: black;
}

.text {

    color: rgba(74, 79, 95, 0.85);
}

.title-2 {
    color: #4e5967;
    margin-top: -50px;
    margin-left: 35px;
    font-size: 30px;
}

.img-box {
    width: 100%;
    height: 190px;

}

.text-word {

    margin-top: 7px;
}

.input {
    margin-left: 25px;
    color: black;
}
.text-title {
    margin-left: 65px;
}

.title-detail {
    margin-top: 150px;
    margin-left: 30px;
}



.img-detail {
    margin-left: 70px;
    width: 100%;


}

.text-detail {
    margin-left: 67px;
    margin-top: 15px;
    font-size: 15px;
    color: #000000;
}

.search-tours {
    border: 1px solid #8f8e8a;
}

.panel-heading {
    background: #bce8f1;

}

.panel-title{
    color: #31708f;
    margin-left: 10px;
}

.img-tour {
    margin-left: 10px;
    width: 100%;
    height: 100px;
}

.title-3 {
    margin-left: 48px;
}

.footer-small-nav col-md-12 {
    background-color: #004165;
}

.text-footer {
    text-align: center;
    margin-top: -25px;
}

.connect {
    color: #ff807d;
}

.col-lg-1 {
    display: block;
}

.ungdung {
    margin-top: 7px;
    color: white;
}

.ungdung1 {
    text-align: center;
    color: white;
    margin-top: 7px;
}
.box-1{
    background-color: white;

}
.box-1 h5{
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}


.box-1  {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}


.box-1:hover {
    -ms-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}

