.img-introduce {

}

body {
    background-color: white;
}

.title-1 {
    color: #c2511a;
    border: black;
}

.text {

    color: rgba(74, 79, 95, 0.85);
    text-align: center;
}

.title-2 {
    color: #c2511a;
    font-size: 30px;

}

.img-box {
    width: 270px;
    height: 270px;
    border-radius: 270px;

}

.text-word {

    margin-top: 7px;
}

.input {
    margin-left: 25px;
    color: black;
}

.text-title {
    margin-left: 65px;
}

.title-detail {
    margin-top: 150px;
    margin-left: 30px;
}

.img-detail {
    margin-left: 70px;
    width: 100%;

}

.text-detail {
    margin-left: 67px;
    margin-top: 15px;
    font-size: 15px;
    color: #000000;
}

.search-tours {
    border: 1px solid #8f8e8a;
}

.panel-heading {
    background: #bce8f1;

}

.panel-title {
    color: #31708f;
    margin-left: 10px;
}

.img-tour {
    margin-left: 10px;
    width: 100%;
    height: 100px;
}

.title-3 {
    margin-left: 48px;
}

.footer-small-nav .col-md-12 {
    background-color: #004165;
}

.text-footer {
    text-align: center;
    margin-top: -25px;
}

.connect {
    color: #ff807d;
}

.col-lg-1 {
    display: block;
}

.ungdung {
    margin-top: 7px;
    color: white;
}

.ungdung1 {
    text-align: center;
    color: white;
    margin-top: 7px;
}

.box-1 {
    background-color: white;

}

.box-1 h5 {
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}

.box-1  {
    display: block;
    position: relative;
    transition:all .4s linear;

}

.box-1:hover  {

    transform: scale(1.1);
}

.tourng{
    padding-right: 15px;
    padding-left: 15px;
}
.tourng:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.tourng .tourng-img {
    width: 100%;
    height: 250px;
}

.tourng .tourng-name {
    margin-top: 10px;
    font-size: 16px;
    color: black;
}
.tourng-name:hover{
    color: #ff5f5f;
}
strong {
    color: red;
    font-size: 19px;
    text-decoration: underline;
}

.tourng .tourng-gia {
    margin-top: 13px;
}
.tourng-gt {
    margin-top: 10px;
    font-size: 11px;
    height: 57px;
    overflow: hidden;

}

.tourng button {
    color: white;
    font-size: 13px;
    background-color: #159fb2;
    padding: 5px;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;
}

/*.hovereffect {*/
/*width: 100%;*/
/*height: 100%;*/
/*overflow: hidden;*/
/*position: relative;*/
/*text-align: center;*/
/*cursor: default;*/
/*}*/

/*.hovereffect .overlay {*/
/*width: 100%;*/
/*height: 100%;*/
/*position: absolute;*/
/*overflow: hidden;*/
/*top: 0;*/
/*left: 0;*/
/*background: rgba(0,0,0,0);*/
/*}*/

/*.hovereffect img {*/
/*display: block;*/
/*position: relative;*/
/*-webkit-transition: all 0.4s ease-in;*/
/*transition: all 0.4s ease-in;*/
/*height: 270px;*/
/*}*/

/*.hovereffect:hover img {*/
/*filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');*/
/*filter: grayscale(1) blur(3px);*/
/*-webkit-filter: grayscale(1) blur(3px);*/
/*-webkit-transform: scale(1.2);*/
/*-ms-transform: scale(1.2);*/
/*transform: scale(1.1);*/
/*}*/

/*.hovereffect h2 {*/
/*text-transform: uppercase;*/
/*text-align: center;*/
/*position: relative;*/
/*padding: 10px;*/
/*font-size: 17px;*/
/*background: rgba(0, 0, 0, 0.7);*/
/*}*/

/*.hovereffect a.info {*/
/*display: inline-block;*/
/*text-decoration: none;*/
/*padding: 7px 14px;*/
/*border: 1px solid #009fb3;*/
/*margin: 50px 0 0 0;*/

/*background-color: transparent;*/
/*}*/

/*.hovereffect a.info:hover {*/
/*box-shadow: 0 0 5px #fff;*/
/*}*/

/*.hovereffect a.info, .hovereffect h2 {*/
/*-webkit-transform: scale(0.7);*/
/*-ms-transform: scale(0.7);*/
/*transform: scale(0.7);*/
/*-webkit-transition: all 0.4s ease-in;*/
/*transition: all 0.4s ease-in;*/
/*opacity: 0;*/
/*filter: alpha(opacity=0);*/
/*color: #ff1b61;*/
/*text-transform: uppercase;*/
/*}*/

/*.hovereffect:hover a.info, .hovereffect:hover h2 {*/
/*opacity: 1;*/
/*filter: alpha(opacity=100);*/
/*-webkit-transform: scale(1);*/
/*-ms-transform: scale(1);*/
/*transform: scale(1);*/
/*}*/

.hovereffect {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate(460px, -100px) rotate(180deg);
    -ms-transform: translate(460px, -100px) rotate(180deg);
    transform: translate(460px, -100px) rotate(180deg);
    -webkit-transition: all 0.2s 0.4s ease-in-out;
    transition: all 0.2s 0.4s ease-in-out;
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    height: 270px;
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: transparent;
    -webkit-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

.hovereffect:hover h2 {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.hovereffect:hover a.info {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.img-footer {
    padding: 1px;

}

.gt {
    /*background-image: url("https://img.freepik.com/free-photo/summer-travel-vacation-concept-beautiful-palms-blue-sky-background-toning_1220-1750.jpg?size=626&ext=jpg");*/
    background-size: cover;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 50px;

}

.gt h4 {
    color: #ff8e12;
}

.gt p {
    color: #000000;
}

.gt h3 {
    margin-top: 40px;
    margin-bottom: 50px;
}

@media screen and (max-width: 600px) {
    .img-box {
        margin-left: 14%;
    }

    .none{
        display: none;
    }
    .lienhe{
        padding-left: 25%;
    }
    .thanhtoan{
        margin-left: 26%;
    }
    .ungdungdt{
        margin-left: 1%;
    }
    .ungdungdt h5{
        margin-left: 10px;
    }
    .col-xs-4 h5{
        text-align: center;
    }
    .text-center{
        padding: 10px;
    }
    .gt{
        padding-left: 0;
    }
    .ftco-animate{
        margin-left: 20px;
    }
    .img-play{
        margin-left: -54%;
        margin-top: 109px;
    }
    .team .col-lg-2{
        margin-right: 26px;      margin-left: 26px;

    }
    #ftco-nav ul li a{
        color: black;
    }
}
footer{
    background-color: #2c2e3f;
}
a{
    color: white;
}
.img-play{
    position: absolute;
    top: 35%;
    left: 94%;
    transition: all 0.3s ease;
    border-radius: 80px;
    cursor: pointer;
}
.img-play:hover {
    transform: scale(1.2);
    box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.15);
    opacity: 1;
}
.gt{
    background: #f8faff;
}
